# Logs
backend/logs
*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# nyc test coverage
backend/.nyc_output


# Dependency directories
backend/node_modules/

# Optional npm cache directory
backend/.npm

# Optional eslint cache
backend/.eslintcache


backend/dist

# Gatsby files
backend/.cache/


# Logs
frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# nyc test coverage
frontend/.nyc_output


# Dependency directories
frontend/node_modules/
socket/node_modules

# Optional npm cache directory
frontend/.npm

# Optional eslint cache
frontend/.eslintcache


frontend/dist

# Gatsby files
frontend/.cache/